.service {
    width: calc(25% - 20px);
    margin: 0 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 15px 0;

    &__icon {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #7f8c8c;
        font-size: 24px;
    }

    &__info {
        margin-bottom: 30px;
    }

    &__button {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 1200px) {
    .service {
        width: calc(50% - 20px);
        margin: 0 10px 50px;
    }
}

@media screen and (max-width: 768px) {
    .service {
        width: 100%;
        margin: 0 0 50px;
    }
}
